<%# SPDX-License-Identifier: AGPL-3.0-or-later %>
<%# Copyright (C) 2025 Chris Danis %>
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <%- include('header'); %>
    <title>odette.rsvp: simple event invites 💌</title>
    <style>
        h1 {
            font-family: "Nothing You Could Do", cursive;
            font-size: 250%;
        }
        header {
            border-bottom: 2px solid var(--pico-primary-border) !important;
        }
    </style>
</head>

<body class="modal-is-opening">
    <main class="container">
        <dialog open>
            <article style="text-align: center;">
                <header>
                    <h1>💌 odette.rsvp</h1>
                </header>
                <menu style="list-style-type: none; padding: 0;">
                    <li>Dirt-simple event invites 📅 </li>
                    <li>🌻 Made with love, by you, for you</li>
                    <li>Always free, never ads ✊</li>
                </menu>
            </article>
        </dialog>
    </main>
</body>

</html>
